<div th:fragment="question-header">
    <nav class="navbar navbar-expand-lg  navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" th:href="@{'/'}">History Testing</a>
            <button class="navbar-toggler btn btn-light bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-5">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{'/question'}">Home</a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link text-white" th:href="@{'/question/all'}">All Questions</a>
                    </li>
                    <li class="nav-item mx-5">
                        <div class="dropdown">
                            <a class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>

                            <ul class="dropdown-menu">
                                <th:block th:each="cat : ${categoryList}">
                                    <li>
                                        <a class="dropdown-item text-uppercase" type="button" th:href="@{'/question/category/' + ${cat.id}}">
                                            [[${cat.category_title}]]
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link text-white" th:href="@{'/question/new'}">Add Question</a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link text-white" th:href="@{'/quiz/home'}">Start Quiz</a>
                    </li>
                </ul>
                <div>
                    <a class="nav-link text-white" th:href="@{'/newUser'}">New User Register</a>
                </div>
            </div>
        </div>
    </nav>
</div>